<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs')%>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <h1>Edit</h1>
    <form action="/listings/<%=listing.id%>?_method=PUT" method="POST">
      Title: <br><input type="text" name="title" value="<%=listing.title%>"><br>
      Price: <br><input type="number" name="price" value="<%=listing.price%>"><br>
      Image Url: <br><input type="text" name="image" value="<%=listing.image%>"><br>
      Listing Description: <br><textarea name="description" rows="8" cols="80"><%=listing.description%></textarea><br>
      <input type="submit" value="Submit Changes">
    </form>
  </body>
</html>
