<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <section class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <figure class="image is-2by1">
                <img src="/images/hero_img.jpg" alt="">
              </figure>
            </div>
            <div class="column">
              <h1 class="title is-1">Store Name</h1>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <button class="button is-primary" type="button" name="button">Find Out More</button>
              <button class="button is-primary is-outlined" type="button" name="button">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a href="/listings/new">Create a new Listing</a>
    <h1>Main Index page</h1>
    <ul>
      <% for (let i = 0; i < listings.length; i++) { %>
      <li>
        <a href="/listings/<%=listings[i].id%>"><%=listings[i].title%></a>
      </li>
      <form action="/listings/<%=listings[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
      <button type="button" name="button"><a href="/listings/<%=listings[i].id%>/edit">Edit</a></button>
      <% } %>
    </ul>
  </body>
</html>
