<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <section class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <figure class="image is-2by1">
                <img src="/images/hero_img.jpg" alt="">
              </figure>
            </div>
            <div class="column">
              <h1 class="title is-1">Store Name</h1>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <button class="button is-primary" type="button" name="button">Find Out More</button>
              <button class="button is-primary is-outlined" type="button" name="button">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="notification is-info">
          <h2 class="title">Upcoming Event</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Click here for more info!</a></p>
        </div>
        <div class="columns">
          <div class="column">
            <div class="columns is-desktop">
              <div class="column">
                <figure class="image is-1by1">
                  <img src="/images/what.jpg" alt="">
                </figure>
              </div>
              <div class="column content">
                <h2 class="title">What</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button class="button is-primary"type="button" name="button">Read More</button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="columns is-desktop">
              <div class="column">
                <figure class="image is-1by1">
                  <img src="/images/who.jpg" alt="">
                </figure>
              </div>
              <div class="column content">
                <h2 class="title">Who</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button class="button is-primary"type="button" name="button">Read More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-half-tablet is-one-third-desktop is-one-quarter-wide-screen">
            <div class="card">
              <header class="card-header">
                <time class="card-header-title is-centered" datetime="2020-01-31">Published: 31-01-2020</time>
              </header>
              <div class="card-content content">
                <h2 class="card-title">News Item</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Read More</a>
                </footer>
              </div>
            </div>
          </div>
          <div class="column is-half-tablet is-one-third-desktop is-one-quarter-wide-screen">
            <div class="card">
              <header class="card-header">
                <time class="card-header-title is-centered" datetime="2020-01-31">Published: 31-01-2020</time>
              </header>
              <div class="card-content content">
                <h2 class="card-title">News Item</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Read More</a>
                </footer>
              </div>
            </div>
          </div>
          <div class="column is-half-tablet is-one-third-desktop is-one-quarter-wide-screen">
            <div class="card">
              <header class="card-header">
                <time class="card-header-title is-centered" datetime="2020-01-31">Published: 31-01-2020</time>
              </header>
              <div class="card-content content">
                <h2 class="card-title">News Item</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Read More</a>
                </footer>
              </div>
            </div>
          </div>
          <div class="column is-half-tablet is-one-third-desktop is-one-quarter-wide-screen">
            <div class="card">
              <header class="card-header">
                <time class="card-header-title is-centered" datetime="2020-01-31">Published: 31-01-2020</time>
              </header>
              <div class="card-content content">
                <h2 class="card-title">News Item</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Read More</a>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="columns is-mobile is-multiline">
          <div class="column is-half-mobile is-one-quarter-desktop">
            <h6 class="title is-5">Links</h6>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/">Services</a></li>
              <li><a href="/">About</a></li>
              <li><a href="/">Team</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>
          <div class="column is-half-mobile is-one-quarter-desktop">
            <h6 class="title is-5">Information</h6>
            <ul>
              <li><a href="/">Legal Information</a></li>
              <li><a href="/">Job Opportunitiues</a></li>
              <li><a href="/">FAQ</a></li>
            </ul>
          </div>
          <div class="column is-half-mobile is-one-quarter-desktop">
            <h6 class="title is-5">Follow Us</h6>
            <ul>
              <li><a href="#"><i class="fab fa-fw fa-facebook"></i>Facebook</a></li>
              <li><a href="#"><i class="fab fa-fw fa-instagram"></i>Instagram</a></li>
              <li><a href="#"><i class="fab fa-fw fa-twitter"></i>Twitter</a></li>
              <li><a href="#"><i class="fab fa-fw fa-youtube"></i>YoutTube</a></li>
              <li><a href="#"><i class="fab fa-fw fa-linkedin"></i>LinkedIn</a></li>
            </ul>
          </div>
          <div class="column is-half-mobile is-one-quarter-desktop">
            <h6 class="title is-5">Our Location</h6>
              <address>
                <strong>Company Name</strong><br />
                Street Name<br />
                Zip Code and City<br />
                <i class="fas fa-fw fa-phone"></i><a href="tel:1234567890">(123) 456-7890</a>
                <i class="fas fa-fw fa-envelope"></i><a href="mailto:infor@domain">info@domain.com</a>
              </address>
          </div>
        </div>
        <p class="has-text-centered">&copy: 2020 Company Name. All rights reserved.</p>
      </div>
    </footer>
    <a href="/listings/new">Create a new Listing</a>
    <h1>Main Index page</h1>
    <ul>
      <% for (let i = 0; i < listings.length; i++) { %>
      <li>
        <a href="/listings/<%=listings[i].id%>"><%=listings[i].title%></a>
      </li>
      <form action="/listings/<%=listings[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
      <button type="button" name="button"><a href="/listings/<%=listings[i].id%>/edit">Edit</a></button>
      <% } %>
    </ul>
  </body>
</html>
